.item-detail-card {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #4d4a4a;
  width: 98%;
  height: 100%;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.item-detail-card-required {
  border: 2px solid #d3a40b;
}

.required-icon {
  color: #d3a40b;
  padding-inline-end: 4px;
}

.item-summary-text {
  text-align: start;
  white-space: pre-line;
  margin-block: 8px;
}

.item-detail-card-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
}

.item-detail-card-contents-header {
  width: 100%;
  display: flex;
  align-items: center;
}

.hypotheticals {
  text-align: start;
}

.hypotheticals > ul {
  margin-block: 0;
  padding-inline-start: 24px;
}

.prerequisites-helper {
  position: relative;
}

.prerequisites-helper .tooltip {
  visibility: hidden;
  border: 2px solid black;
  background-color: #4d4a4a;
  text-align: start;
  padding: 8px;
  top: -4px;
  left: 102%;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
}

.prerequisites-helper:hover .tooltip {
  visibility: visible;
}

.tooltip {
  overflow-x: auto;
  white-space: nowrap;
}

.tooltip > ul {
  margin-block: 0;
  padding-inline-start: 24px;
}

.prerequisites-helper-icon {
  margin: 8px;
}

.completion-button {
  height: fit-content;
  width: fit-content;
  margin: 8px;
  padding: 8px;
}
