.text-align-start {
  text-align: start;
}

.item-detail-card {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #4d4a4a;
  width: 98%;
  height: 100%;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.item-detail-card-required {
  border: 2px solid #d3a40b;
}

.completion-button {
  height: fit-content;
  width: fit-content;
  margin: 8px;
  padding: 8px;
}

.item-detail-card-contents {
  width: 100%;
  display: flex;
  padding: 8px;
}
